*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 6000px;
}
a{
  text-decoration: none;
}

.header{
   display: flex;
justify-content: space-around ;
 align-items: center;
  padding: 15px 0;
position: fixed;
width:100% ;
background: wheat;
}



ul{
  list-style-type:none;
}

.header ul{
  display: flex;
  gap: 30px;
}
.header .list a{
  color:red

}

.header form{
  border: 2px solid #E7E6EF;
  display: flex;

}
.header form button{
  background-color: #FB2E86;

}

.header .list :hover{
  color: aquamarine;
}