*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  height: 6000px;
}
a{

  text-decoration: none;
}

.header{
   display: flex;
justify-content: space-around ;
 align-items: center;
  padding: 15px 0;
position: fixed;
width:100% ;
background: wheat;
top: 0;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.row{
  display: flex;
justify-content: space-around ;
flex-wrap: wrap;
}

ul{
  list-style-type:none;
}

.header ul{
  display: flex;
  gap: 30px;
  
}
.header .list a{
  color:red

}

.header form {
  border: 2px solid #E7E6EF;
  display: flex;

}
.header form button{
  background-color: #FB2E86;

}

.header .list :hover{
  color: aquamarine;
}

/* start footerr*/
.footer{
  background-color:#EEEFFB ;
  padding :50px 0 ;
}

.footer form{
  border: 3px  #FFFFFF;
  display: flex;
}
.footer form button{
  background-color: #FB2E86;
padding: 10px 0;
color: white;
}
.footer .left-side{
display:flex;
flex-direction: column;
gap:   20px;
}


.footer .address h4,
.footer .address p{
    color: #8A8FB9;
}


.footer .right-side{
  width: 50%;
  width: calc((100%-22px)/2);
  
}
.footer .footer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:  46px;
}
.footer .footer-list{
  display: flex;
  flex-direction: column;
  gap: 24px;;
}

.footer .right-side a{
  color:#8A8FB9 ;
}
.footer .left-side{
  
  width: calc((100%-22px)/2);
  
}

@media screen and (min-width:0) and (max-width:600px){
  .footer .left-side,.footer.right-side{
    width: 100%;
  }
}
  
.test{
  background-image: url("./image/Rectangle 102.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}
.tests{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
 .btn { 
  background-color: #FB2E86;
  color: white;
  padding: 10px 5px;
 }

 .tests h2 {
  color: #151875;   
}

/* card*/
.featured {
   
    text-align: center;
    padding: 50px 0;
    font-family: sans-serif;
}

.title {
    color: #1A0B5B;
    font-size: 32px;
    font-weight: 700;
    font-family: Josefin Sans;
    margin-bottom: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
}

.product-card {
    width: 230px;
    background: #F6F7FB;
    border-radius: 8px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;

     box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
}

.product-card img {
     width: 100%;
    height: 200px;
    object-fit: contain;
   
    padding: 20px;;
}

.product-card h3 {
    color: #FB2E86;
    margin: 10px 0 5px;
}

.code {
    color: #8A8FB9;
}

.price {
    color: #1A0B5B;
    font-weight: bold;
}
.colors {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 8px 0;
}

.color {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    display: inline-block;
}
.color.pink { background: #FB2E86; }
.color.blue { background: #2F1AC4; }
.color.navy { background: #3F509E; }

@media (max-width: 900px) {
    .card {
        gap: 20px;
    }
    .product-card {
        width: 45%;
    }
}


@media (max-width: 600px) {
    .product-card {
        width: 90%;
    }
}
/* end card*/


/* hero*/
.hero{
  background:#F2F0FF ;
  padding: 50px 0;
}

.hero-container{
display: flex;
  align-items: center;
  justify-content: space-between;
   margin: auto;
   width: 80%;
  gap: 40px;
}

.small-title {
  color: #FB2E86;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc((100% - 22px) / 2);
}

.left p {
  color: #8A8FB9;
  max-width: 420px;
  margin-bottom: 30px;
  font-size: 15px;
}
.btn {
  background: #FB2E86;
  color: #fff;
  border: none;
  padding: 12px 40px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  width: fit-content;
}

.right{
  position: relative;
  display: flex;
  
  justify-content: center;
  align-items: center;
  width: 50%;
width: calc((100% - 22px) / 2);
}

.right img {
  width: 300px;
  position: relative;
  z-index: 2;
}
.discount {
  position: absolute;
  top: 10px;
  right: 160px;
  background: #00C1FE;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
   z-index: 3;
}


.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #F6E8FF;
  border-radius: 50%;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .left p {
    margin: 0 auto 30px;
  }

  .right {
    margin-top: 40px;
  }
}