*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  height: 6000px;
}
a{

  text-decoration: none;
}

.header{
   display: flex;
justify-content: space-around ;
 align-items: center;
  padding: 15px 0;
position: fixed;
width:100% ;
background: wheat;
top: 0;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.row{
  display: flex;
justify-content: space-around ;
flex-wrap: wrap;
}

ul{
  list-style-type:none;
}

.header ul{
  display: flex;
  gap: 30px;
  
}
.header .list a{
  color:red

}

.header form {
  border: 2px solid #E7E6EF;
  display: flex;

}
.header form button{
  background-color: #FB2E86;

}

.header .list :hover{
  color: aquamarine;
}

/* start footerr*/
.footer{
  background-color:#EEEFFB ;
  padding :50px 0 ;
}

.footer form{
  border: 3px  #FFFFFF;
  display: flex;
}
.footer form button{
  background-color: #FB2E86;
padding: 10px 0;
color: white;
}
.footer .left-side{
display:flex;
flex-direction: column;
gap:   20px;
}


.footer .address h4,
.footer .address p{
    color: #8A8FB9;
}


.footer .right-side{
  width: 50%;
  width: calc((100%-22px)/2);
  
}
.footer .footer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:  46px;
}
.footer .footer-list{
  display: flex;
  flex-direction: column;
  gap: 24px;;
}

.footer .right-side a{
  color:#8A8FB9 ;
}
.footer .left-side{
  
  width: calc((100%-22px)/2);
  
}

@media screen and (min-width:0) and (max-width:600px){
  .footer .left-side,.footer.right-side{
    width: 100%;
  }
}
  
.test{
  background-image: url("./image/Rectangle 102.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}
.tests{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
 .btn { 
  background-color: #FB2E86;
  color: white;
  padding: 10px 5px;
 }

 .tests h2 {
  color: #151875;   
}

/* card*/
.featured {
   
    text-align: center;
    padding: 50px 0;
    font-family: sans-serif;
}

.title {
    color: #1A0B5B;
    font-size: 32px;
    font-weight: 700;
    font-family: Josefin Sans;
    margin-bottom: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
}

.product-card {
    width: 230px;
    background: #F6F7FB;
    border-radius: 8px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;

     box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease-in-out;
}

.product-card img {
     width: 100%;
    height: 200px;
    object-fit: contain;
   
    padding: 20px;;
}

.product-card h3 {
    color: #FB2E86;
    margin: 10px 0 5px;
}

.code {
    color: #8A8FB9;
}

.price {
    color: #1A0B5B;
    font-weight: bold;
}
.colors {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 8px 0;
}

.color {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    display: inline-block;
}
.color.pink { background: #FB2E86; }
.color.blue { background: #2F1AC4; }
.color.navy { background: #3F509E; }

