*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  height: 6000px;
}
a{

  text-decoration: none;
}

.header{
   display: flex;
justify-content: space-around ;
 align-items: center;
  padding: 15px 0;
position: fixed;
width:100% ;
background: wheat;
top: 0;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.row{
  display: flex;
justify-content: space-around ;
flex-wrap: wrap;
}

ul{
  list-style-type:none;
}

.header ul{
  display: flex;
  gap: 30px;
  
}
.header .list a{
  color:red

}

.header form {
  border: 2px solid #E7E6EF;
  display: flex;

}
.header form button{
  background-color: #FB2E86;

}

.header .list :hover{
  color: aquamarine;
}

/* start footerr*/
.footer{
  background-color:#EEEFFB ;
  padding :50px 0 ;
}

.footer form{
  border: 3px  #FFFFFF;
  display: flex;
}
.footer form button{
  background-color: #FB2E86;
padding: 10px 0;
color: white;
}
.footer .left-side{
display:flex;
flex-direction: column;
gap:   20px;
}


.footer .address h4,
.footer .address p{
    color: #8A8FB9;
}


.footer .right-side{
  width: 50%;
  width: calc((100%-22px)/2);
  
}
.footer .footer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:  46px;
}
.footer .footer-list{
  display: flex;
  flex-direction: column;
  gap: 24px;;
}

.footer .right-side a{
  color:#8A8FB9 ;
}
.footer .left-side{
  
  width: calc((100%-22px)/2);
  
}

@media screen and (min-width:0) and (max-width:600px){
  .footer .left-side,.footer.right-side{
    width: 100%;
  }
}
  

 